@import '../../utils/globals.scss';
.tweet-loader {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tweet-details-wrapper {
  margin-top: 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding-top: 10px;
}

.tweet-details {
  padding: 10px;
  padding-top: 0;
  font-family: $font-family;

  display: grid;
  grid-template-columns: 60px 1fr;

  &-avatar {
    width: 50px;
    border-radius: 50px;
  }

  &-user {
    &-username {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-usertag {
      font-weight: 300;
    }
  }

  &-content {
    padding-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    white-space: pre;
    font-size: 1.6rem;
  }

  &-date {
    grid-column: 1 / -1;
    position: relative;
    font-weight: 100;
    letter-spacing: 0.5px;

    span {
      margin-right: 5px;

      &:first-child::after {
        content: '·';
        font-weight: bold;
        margin-left: 5px;
      }
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   border-radius: 20px;
    //   left: 50%;
    //   bottom: -20px;
    //   transform: translateX(-50%);
    //   height: 2px;
    //   background: $border-color;
    //   width: 90%;
    // }
  }

  &-stats {
    &-likes {
      &::before {
        position: relative;
        top: 2px;
        content: attr(data-count);
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 3px;
      }
    }
  }

  &-header {
    font-family: $font-family;
    margin: 5px;
  }
}
