@import '../../utils/globals.scss';

@keyframes touchedLike {
  0% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
}

.tweet-details-wrapper {
  margin-top: 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding-top: 10px;
}

.tweet-details {
  padding: 10px;
  padding-top: 0;
  font-family: $font-family;

  display: grid;
  grid-template-columns: 60px 1fr;

  &-avatar {
    width: 50px;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
      box-shadow: 0 0 4px 0.5px #dbdbdba4;
    }
  }

  &-user {
    &-username {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-usertag {
      font-weight: 300;
    }
  }

  &-content {
    padding-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    font-size: 1.6rem;
    white-space: pre-wrap;

    overflow-wrap: break-word;
  }

  &-date {
    grid-column: 1 / -1;
    position: relative;
    font-weight: 100;
    letter-spacing: 0.5px;

    span {
      margin-right: 5px;

      &:first-child::after {
        content: '·';
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }

  &-stats {
    position: relative;
    grid-column: 1 / -1;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      width: 100%;
      background-color: $border-color;
      height: 0.5px;
    }

    &-item {
      font-weight: bold;
      font-size: 1.1rem;
      margin-right: 5px;

      &:not(:first-child) {
        margin-left: 14px;
      }
    }
  }

  &-buttons {
    position: relative;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-column: 1 / -1;

    &::before {
      content: '';
      position: absolute;
      top: -4px;
      width: 100%;
      background-color: $border-color;
      height: 0.5px;
    }

    button {
      border: none;
      background: none;
      outline: none;
      color: #fff;
      cursor: pointer;

      .touched {
        color: #fa4059;

        animation: touchedLike 1s ease-in-out;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &-header {
    font-family: $font-family;
    margin: 5px;
  }
}

.comments {
  .tweet-line {
    display: flex;
  }
}
