@import '../../utils/globals.scss';

$error: adjust-hue(
  $color: $main-color,
  $degrees: -210,
);

@keyframes popup {
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
}

.error-popup {
  transform: translateY(-200%);

  font-family: $font-family;
  font-weight: 500;
  font-size: 1.2rem;

  text-align: center;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  animation: popup 5s ease forwards;

  color: #fff;

  height: fit-content;
  max-height: -moz-max-content;
  margin: 30px auto;
  padding: 10px;

  outline: none;
  border-radius: 10px;
  background: lighten($color: $error, $amount: 5);

  width: 35vw;

  @media (max-width: 768px) {
    width: 80vw;
  }

  &-content {
    margin: 0;
  }
}
