@import '../../utils/globals.scss';

.profile-page {
  margin-top: 20px;
  font-family: $font-family;

  &-label {
    margin-top: 20px;
    font-family: $font-family;
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    padding-left: 5px;
  }

  &-input {
    width: 100%;
    min-height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    background: none;
    border: 1px solid $border-color;
    font-family: $font-family;
    font-size: 1.2rem;
    color: #fff;
    resize: none;
    transition: border-color 0.5s ease-in-out;

    &:focus {
      border-color: $main-color;
    }
  }

  &-submit {
    margin-top: 30px;
    width: 100%;
    min-width: fit-content;
    height: 50px;
    border-radius: 10px;

    font-family: $font-family;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;

    &:disabled {
      background: #004a79;
      color: #dbdbdb;
    }

    &:enabled {
      background: $main-color;
      color: #fff;

      &:hover {
        box-shadow: rgba(54, 147, 240, 0.233) 0px 0px 15px,
          rgba(99, 172, 245, 0.15) 0px 0px 3px 1px;
      }
    }
  }

  &-error {
    color: $error-color;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 1.1rem;
  }

  .error-field {
    border-color: $error-color;
  }
}
