@import '../../utils/globals.scss';

.text-input {
  display: grid;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 1px 10px #0076ff3b;

  padding: 10px;
  margin: 15px 0;

  font-family: $font-family;

  &-textfield {
    display: flex;
    flex-direction: column;
    cursor: text;

    &-resizable {
      grid-column: 1 / -1;
      color: #fff;

      width: 100%;
      overflow: hidden;
      resize: none;
      min-height: 60px;

      line-height: 20px;

      background: none;
      outline: none;

      padding: 10px;

      font-size: 1.2rem;
      font-family: $font-family;

      border-radius: 10px;
      border: 1px solid #0077ff5e;

      &:empty::before {
        content: 'What are you thoughts?..';
        color: gray;
      }
    }
  }

  &-tools {
    width: 100%;

    margin-top: 10px;

    display: flex;
    justify-content: space-between;

    &-circle {
      display: inline-block;
      width: 35px;
      height: 35px;

      align-self: center;
    }

    &-btn {
      align-self: center;

      height: 35px;
      width: 100px;
      border-radius: 10px;
      color: #000;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;

      outline: none;

      cursor: pointer;

      transition: background-color 0.5s ease;

      &:hover {
        color: #fff;
        background: #0076ffe6;
        box-shadow: 0 6px 20px #0076ff3b;
      }
    }
  }
}
