@import '../../utils/globals.scss';

.login-page {
  font-family: $font-family;

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 80%;
    max-width: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-field {
    position: relative;
    width: 100%;
  }

  &-input {
    min-width: fit-content;
    width: 100%;
    height: 60px;
    background: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid $border-color;
    color: #fff;
    font-size: 1.2rem;

    margin-bottom: 20px;
    padding-left: 5px;
  }

  &-input ~ label {
    position: absolute;
    left: 2%;
    top: 22%;
    width: 100%;
    color: #aaa;
    transition: 0.3s;
    z-index: 2;
    letter-spacing: 0.5px;
  }

  &-input:focus {
    border-color: $main-color;

    & ~ label {
      color: $main-color;
      top: 0;
      left: 5px;
      font-size: 0.8rem;
    }
  }

  .focused {
    & ~ label {
      top: 0;
      left: 5px;
      font-size: 0.8rem;
    }
  }

  &-submit {
    width: 100%;
    min-width: fit-content;
    height: 40px;
    border-radius: 50px;

    font-family: $font-family;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    background: $main-color;

    cursor: pointer;

    &:hover {
      box-shadow: rgba(54, 147, 240, 0.233) 0px 0px 15px,
        rgba(99, 172, 245, 0.15) 0px 0px 3px 1px;
    }
  }

  &-error {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;

    height: 60px;
    background: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-shadow: rgba(240, 54, 69, 0.233) 0px 0px 15px,
      rgba(245, 99, 106, 0.15) 0px 0px 3px 1px;

    p {
      margin: 0 auto;
    }
  }
}
