@import '../../utils/globals.scss';

.login-page {
  font-family: $font-family;

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 80%;
    max-width: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-field {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }

  &-input {
    min-width: fit-content;
    width: 100%;
    height: 60px;
    background: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid $border-color;
    color: #fff;
    font-size: 1.2rem;

    padding-left: 15px;
    padding-top: 15px;
  }

  .error-field {
    border-color: $error-color;

    & ~ label {
      color: $error-color;
    }
  }

  &-error {
    padding-top: 5px;
    padding-left: 10px;
    color: $error-color;
  }

  &-input ~ label {
    position: absolute;
    left: 2%;
    top: 16px;
    width: 100%;
    color: #aaa;
    transition: 0.3s;
    z-index: 2;
    letter-spacing: 0.5px;
    cursor: text;
  }

  &-input:focus {
    border-color: $main-color;

    & ~ label {
      color: $main-color;
      top: 5px;
      left: 13px;
      font-size: 0.8rem;
    }
  }

  .focused {
    & ~ label {
      top: 5px;
      left: 13px;
      font-size: 0.8rem;
    }
  }

  &-submit {
    width: 100%;
    min-width: fit-content;
    height: 50px;
    border-radius: 10px;

    font-family: $font-family;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;

    &:disabled {
      background: #004a79;
      color: #dbdbdb;
    }

    &:enabled {
      background: $main-color;
      color: #fff;

      &:hover {
        box-shadow: rgba(54, 147, 240, 0.233) 0px 0px 15px,
          rgba(99, 172, 245, 0.15) 0px 0px 3px 1px;
      }
    }
  }
}

.error-message {
  width: 300px;
  height: 50px;
  background: rgba(240, 54, 116, 0.233);
  border-radius: 20px;
  border-color: $error-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  p {
    margin: auto auto;
  }
}
