@import '../../utils/globals.scss';

.dropdown {
  position: relative;
  display: inline-block;

  &-content {
    width: 120px;
    margin-top: 9px;
    position: absolute;
    background-color: #fafafa;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0%;
    transform: translateX(0px);
    padding: 12px 16px;
    border-radius: 5px;
    z-index: 1;
  }

  &.active::after {
    position: absolute;
    content: '';
    right: 50%;
    transform: translateX(50%);

    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-bottom: solid 9px #fff;
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
  }
}
