@import '../../utils/globals.scss';

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes touchedLike {
  0% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
}

.tweet {
  padding: 0 10px;
  animation: appearance 1s ease-in-out;
  width: 100%;
  font-family: $font-family;
  font-weight: 400;
  display: grid;
  grid-template-columns: 60px 1fr;
  // box-shadow: 0 1px 10px #0076ff3b;
  // box-shadow: 3px 3px 0px 1px #003c80c7;

  &:first-child {
    padding-top: 10px;
  }

  &:hover {
    background-color: rgba(67, 140, 235, 0.04);
  }

  &-avatar-replies-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-line {
    margin-bottom: 5px;
    height: calc(100% - 60px);
    width: 3px;
    border-radius: 20px;
    background: #c0c0c0;
  }

  &-avatar {
    width: 50px;
    border-radius: 50%;
    grid-column: 1/-1;
  }

  &-content {
    margin-top: 5px;
    margin-bottom: 0;
    white-space: pre;
  }

  &-image {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &-user-info {
    display: flex;

    *:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  &-author {
    font-weight: bold;
  }

  &-usertag {
    &::after {
      content: '·';
      margin-left: 5px;
    }
  }

  &-buttons {
    display: flex;
    margin-left: -10px;

    button {
      cursor: pointer;
      color: white;
      background: none;
      outline: none;
      border: none;
      height: 45px;
      width: 45px;
      margin-right: 20px;
      border-radius: 30px;
      transition: all 0.2s ease-in-out;
    }

    .like-touched {
      &::after {
        color: #fa4059;
      }
      i {
        color: #fa4059;
        animation: touchedLike 1s ease-in-out;
      }
    }

    &-like {
      position: relative;

      &:hover {
        color: #fa4059;
      }

      &::after {
        content: attr(data-count);

        font-family: $font-family;
        font-size: 1rem;
        position: absolute;
        right: -5px;
        margin-right: auto;

        top: 20%;
      }
    }

    &-comment {
      position: relative;

      &:hover {
        color: $main-color;
      }
    }

    &-comment i {
      position: relative;
      left: 1px;
    }
  }
}
