@import '../../utils/globals.scss';

.unvisible {
  visibility: hidden;
}

.profile {
  margin-top: 10px;
  padding: 10px;
  border: 0.5px solid $border-color;
  border-radius: 10px;

  &-bg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
  }

  &-avatar {
    position: absolute;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    bottom: -30%;
    left: 1%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &-edit {
    margin: 10px 0 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      width: 90px;
      height: 35px;
      font-weight: 700;

      border-radius: 10px;
      border: 1px solid $main-color;
      color: $main-color;
      background: none;
      outline: none;

      cursor: pointer;
    }
  }

  &-text-wrapper {
    padding: 0 10px;
  }

  &-username {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &-usertag {
    font-weight: 300;
    font-size: 1.1rem;
  }

  &-biography {
    font-size: 1.1rem;
    padding: 10px 0;
  }

  &-location {
    margin-right: 15px;
  }

  &-placeholder {
    font-weight: 300;
    font-style: italic;
    color: gray;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    button {
      background: none;
      outline: none;

      font-family: $font-family;
      font-size: 1.2rem;
      font-weight: bold;
      color: $main-color;

      cursor: pointer;

      width: 100%;
      height: 40px;

      border: 1px solid $border-color;

      &:first-child {
        margin-right: -1px;
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        margin-left: -1px;
        border-radius: 0 10px 10px 0;
      }

      &.active {
        border-color: $main-color;
        background: $main-color;
        color: #fff;
      }
    }

    @media (max-width: 500px) {
      & {
        flex-wrap: wrap;
      }

      button {
        border-radius: 10px;

        &:first-child {
          border-radius: 10px;
        }

        &:last-child {
          border-radius: 10px;
        }
      }
    }
  }
}
