@import './utils/globals.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

#root {
  width: 100%;
  height: 100%;
}

#forBlur {
  height: 100%;
  transition: filter 0.1s linear;
}

body {
  background: #06090f;
  color: #c9d1d9;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.user-avatar {
  width: 50px;
  border-radius: 50%;
}

.loader {
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  display: flex;
}

.tweet-wrapper {
  border: 1px solid $border-color;
  border-radius: 10px;
  margin: 10px auto;
  padding: 0;

  &:hover {
    background-color: #162d4b15;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}
